In [19]:
import pandas as pd
from datetime import datetime

In [17]:
df = pd.read_csv('C:/Users/stask/Analitics_Karpov/Module2/lesson_1_data.csv', 
                 encoding = 'windows-1251', sep = ';')
# df.head()
df['Title'].unique()

array(['Курс обучения «Эксперт»', 'Курс обучения «Специалист»',
       'Курс обучения «Консультант»', 'Курс от Школы Диетологов. Бизнес',
       'Курс от Школы Диетологов. Повышение квалификации. ',
       'Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автосписанием'],
      dtype=object)

In [18]:
# запомнили сколько денег было и после проверить после всех манипуляц
df['Заработано'].sum().round(2)

992103.59

In [5]:
df.columns

Index(['Номер', 'Дата создания', 'Дата оплаты', 'Title', 'Статус',
       'Заработано', 'Город', 'Платежная система'],
      dtype='object')

In [11]:
df['Статус'].unique()

array(['Завершен', 'Отменен', 'Ожидаем оплаты', 'В работе',
       'Частично оплачен'], dtype=object)

In [6]:
# df\
#     .groupby('Title', as_index = False)\
#     .aggregate({'Заработано':'sum'})\
#     .sort_values('Заработано', ascending=False)

In [8]:
money_by_cource_sity = df\
    .groupby(['Title','Город'], as_index = False)\
    .aggregate({'Заработано':'sum'})\
    .sort_values('Заработано', ascending=False)

money_by_cource_sity.to_csv('money_by_cource_sity.csv', index=False)

In [16]:
df.query('Статус == "Завершен"') \
    .groupby('Title', as_index=False) \
    .aggregate({'Заработано':'sum', 'Номер':'count'}) \
    .sort_values('Заработано', ascending=False) \
    .rename(columns={'Номер':'success_orders'})

,Title,Заработано,success_orders
5,Подписка «ОНЛАЙН ДИЕТОЛОГ» с ежемесячным автос...,366947.20,125
0,Курс обучения «Консультант»,208163.49,31
1,Курс обучения «Специалист»,160862.64,7
2,Курс обучения «Эксперт»,148992.80,5
4,Курс от Школы Диетологов. Повышение квалификац...,88384.92,9
3,Курс от Школы Диетологов. Бизнес,18752.54,3

In [25]:
datetime.today().strftime('%Y-%m-%d')

'2023-06-22'

In [26]:
file_name = 'money_title_{}.csv'
file_name.format(datetime.today().strftime('%Y-%m-%d'))

'money_title_2023-06-22.csv'